body 
{
	font: normal 100%/1.3em sans-serif; 
	margin: 20px; 
	color: #333; 
	background-color: #fff;
}

h1
{
	font-size: 2em;
	font-weight: normal;
	margin: 0 0 0.3em 0;
}

p
{
	margin: 0 0 1em 0;
}

ul
{
	padding: 0;
	margin: 1em 3em;
}

li
{
	margin: 0.5em 0;
}

.note
{
	font-style: italic; 
	padding: 2px 4px; 
	background-color: #eee; 
	border: 2px solid #333;
}